@import "../../styles/color"
@import "../../styles/fonts/fonts"
.main
  &__first
    display: flex
    flex-direction: row

    &__block
      display: flex
      flex-direction: column

      &__one

      &__second
        color: $colorMain

      &__button
        color: $colorMain
        background: linear-gradient(87.16deg, #CBECEE 33.65%, #E4EFFF 84.36%)
        box-shadow: 4px 4px 1px rgba(60, 110, 114, 0.33)
        border-radius: 50px

    &__img
      &__girl
        width: 40%


