@import "../../../../styles/color"
.notification
  background: white
  box-shadow: 0 0 50px rgba(179, 186, 207, 0.25)
  border-radius: 15px
  margin-top: 6px
  width: 500px
  height: 70px
  display: flex
  flex-direction: row
  font-weight: 500

  &__image

  &__info
    width: 100%
    padding: 10px
    display: flex
    flex-direction: row
    justify-content: space-between

    &__left
      color: $colorMain
      display: flex
      flex-direction: column
      justify-content: space-between
      //margin-right: 45px

      &__header
        font-size: 20px

      &__action
        font-size: 12px

    &__center
      color: $colorMain
      display: flex
      align-items: center
      font-size: 22px
    // margin-right: 80px

    &__right
      display: flex
      flex-direction: column
      //margin-right: auto
      color: $colorGrey
      font-size: 12px
      align-items: end
      justify-content: space-between


      &__name

      &__time

.img
  width: 78px


.date
  display: flex
  background: white
  border: 0.5px solid rgba(black, 0.17)
  border-radius: 10px
  font-weight: 500
  font-size: 14px
  color: $colorGrey
  text-align: center
  align-items: center
  justify-content: center
  width: 106px
  height: 22px
  margin: 18px auto
