@import "../../../../../styles/color"
.label
  display: flex
  flex-direction: row
  align-items: center
  margin-bottom: 3px
  font-family: Gilroy
  font-weight: 500
  color: $colorMain

  &__checkBox
    width: 18px
    height: 18px
    border: 1px solid $colorCheckbox
    border-radius: 4px
    margin-right: 10px

    &:checked
      background-color: $colorCheckbox
      background-image: url("../../../../../images/doSprite/icon.svg")
      background-position: center
      background-repeat: no-repeat

.text
  font-family: Gilroy
  font-weight: 500
  color: $colorGrey
  margin-bottom: 5px

.box
//margin: 20px 100px 0px 20px

.choose
  display: flex
  flex-direction: column
  margin-bottom: 18px