@import "../../styles/color"
.footer
  padding: 2%
  background-color: $colorFooter
  display: flex
  flex-direction: row
  justify-content: space-around
  color: white

  &__subscription
    &__text
      &__green
        color: $colorFooterBut

      &__white

    &__input

    &__button

  &__col
    &__main

    &__second