@import "../../styles/Color"
.main
  margin: 40px 7%

  &__text
    font-family: Gilroy
    font-weight: 500
    font-size: 25px
    color: $colorGrey


  &__block
    margin-top: 40px
    display: flex
    flex-direction: row


